@model BMSApplication.Models.Color

@{
    ViewBag.Title = "Details";
}

<div class="span12">
    <div class="widget">
        <div class="widget-header">
            <i class="icon-inbox"></i>
            <h3>Color Information</h3>
        </div>
        <div class="widget-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Label)</td>
                        <td>@Html.DisplayFor(model => model.Label)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Status)</td>
                        <td>@Html.DisplayFor(model => model.Status)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.CreatedDate)</td>
                        <td>@Html.DisplayFor(model => model.CreatedDate)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.CreatedBy)</td>
                        <td>@Html.DisplayFor(model => model.CreatedBy)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ModifyDate)</td>
                        <td>@Html.DisplayFor(model => model.ModifyDate)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ModifyBy)</td>
                        <td>@Html.DisplayFor(model => model.ModifyBy)</td>
                    </tr>
                </tbody>
            </table>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
