@model BMSApplication.Models.Variety

@{
    ViewBag.Title = "Edit";
}

<div class="span12">
    <div class="widget">
        <div class="widget-header">
            <i class="icon-inbox"></i>
            <h3>Modify Product Information</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content">
            @using (Html.BeginForm("Edit", "Varieties", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <fieldset>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="control-group">
                        @Html.LabelFor(model => model.ProductId, "ProductId", htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "span6" })
                            @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(model => model.SizeId, "SizeId", htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownList("SizeId", null, htmlAttributes: new { @class = "span6" })
                            @Html.ValidationMessageFor(model => model.SizeId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(model => model.ColorId, "ColorId", htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownList("ColorId", null, htmlAttributes: new { @class = "span6" })
                            @Html.ValidationMessageFor(model => model.ColorId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "span6" } })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" value="Save" class="btn btn-success" style="width:100px" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default", @style = "width:100px" })
                        </div>
                    </div>
                </fieldset>
            }

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
