@model BMSApplication.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<div class="span12">
    <div class="widget">

        <div class="widget-header">
            <i class="icon-inbox"></i>
            <h3>Transaction Information</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Receipt.Method)</td>
                        <td>@Html.DisplayFor(model => model.Receipt.Method)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.User.Name)</td>
                        <td>@Html.DisplayFor(model => model.User.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Variety.Id)</td>
                        <td>@Html.DisplayFor(model => model.Variety.Id)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Date)</td>
                        <td>@Html.DisplayFor(model => model.Date)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Sell)</td>
                        <td>@Html.DisplayFor(model => model.Sell)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Quantity)</td>
                        <td>@Html.DisplayFor(model => model.Quantity)</td>
                    </tr>
                </tbody>
            </table>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

