@model BMSApplication.Models.User

@{
    ViewBag.Title = "Details";
}

<div class="span12">
    <div class="widget">
        <div class="widget-header">
            <i class="icon-inbox"></i>
            <h3>User Information</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Name)</td>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Address)</td>
                        <td>@Html.DisplayFor(model => model.Address)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Contact)</td>
                        <td>@Html.DisplayFor(model => model.Contact)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Email)</td>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Username)</td>
                        <td>@Html.DisplayFor(model => model.Username)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Password)</td>
                        <td>@Html.DisplayFor(model => model.Password)</td>
                    </tr>
                </tbody>
            </table>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" }) 
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

