@model BMSApplication.Models.Invoice

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create","Invoices", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="span5">
            <div class="widget widget-nopad">
                <div class="widget-header">
                    <i class="icon-list-alt"></i>
                    <h3> Invoice Details</h3>
                </div>
                <!-- /widget-header -->
                <div class="widget-content">
                    <div class="widget big-stats-container">
                        <div class="widget-content">
                            <fieldset style="padding-top:20px;">
                                <div class="control-group">
                                    @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "span2" } })
                                        @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="control-group">
                                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="controls">
                                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "span2" } })
                                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="control-group">
                                    @Html.LabelFor(model => model.GSTCode, htmlAttributes: new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.EditorFor(model => model.GSTCode, new { htmlAttributes = new { @class = "span2" } })
                                        @Html.ValidationMessageFor(model => model.GSTCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="control-group">
                                    @Html.LabelFor(model => model.GSTAmount, htmlAttributes: new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.EditorFor(model => model.GSTAmount, new { htmlAttributes = new { @class = "span2" } })
                                        @Html.ValidationMessageFor(model => model.GSTAmount, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="control-group">
                                    @Html.LabelFor(model => model.SupplierId, "SupplierId", htmlAttributes: new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.DropDownList("SupplierId", null, htmlAttributes: new { @class = "span2" })
                                        @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="control-group">
                                    @Html.LabelFor(model => model.VendorId, "VendorId", htmlAttributes: new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.DropDownList("VendorId", null, htmlAttributes: new { @class = "span2" })
                                        @Html.ValidationMessageFor(model => model.VendorId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="control-group">
                                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="controls">
                                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "span2" } })
                                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!-- /widget-content -->

                    </div>
                </div>
            </div>
        </div>

        <div class="span7">
            <div class="widget widget-nopad">
                <div class="widget-header">
                    <i class="icon-list-alt"></i>
                    <h3> Invoice Items</h3>
                </div>
                <!-- /widget-header -->
                <div class="widget-content">
                    <div class="widget big-stats-container">
                        <div class="widget-content">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th class="span1">Cost</th>
                                        <th class="span1">Sell</th>
                                        <th class="span1">Qty</th>
                                        <th class="span1">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Html.DropDownList("VarietyId", null, htmlAttributes: new { @class = "" })</td>
                                        <td><input class="span1" type="text" name="cost[]" /></td>
                                        <td><input class="span1" type="text" name="sell[]" /></td>
                                        <td><input class="span1" type="text" name="qty[]" /></td>
                                        <td><input class="span1" type="text" name="total[]" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /widget-content -->

                    </div>
                </div>
            </div>
        </div>
    </div>
}
