@model BMSApplication.Models.Receipt

@{
    ViewBag.Title = "Details";
}

<div class="span12">
    <div class="widget">
        <div class="widget-header">
            <i class="icon-inbox"></i>
            <h3>Receipt Information</h3>
        </div>
        <div class="widget-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Date)</td>
                        <td>@Html.DisplayFor(model => model.Date)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Total)</td>
                        <td> @Html.DisplayFor(model => model.Total)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Method)</td>
                        <td>@Html.DisplayFor(model => model.Method)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Tendered)</td>
                        <td>@Html.DisplayFor(model => model.Tendered)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Change)</td>
                        <td>@Html.DisplayFor(model => model.Change)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.CreditCardInvoice)</td>
                        <td>@Html.DisplayFor(model => model.CreditCardInvoice)</td>
                    </tr>
                </tbody>
            </table>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
   
</div>
