@model BMSApplication.Models.Product

@{
    ViewBag.Title = "Details";
}

<div class="span12">

    <div class="widget ">

        <div class="widget-header">
            <i class="icon-inbox"></i>
            <h3>Product Information</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Name)</td>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Category)</td>
                        <td>@Html.DisplayFor(model => model.Category)</td>
                    </tr>
                    <tr>
                        <td>Cost Price</td>
                        <td>@Html.DisplayFor(model => model.Cost)</td>
                    </tr>
                    <tr>
                        <td>Sell Price</td>
                        <td>@Html.DisplayFor(model => model.Sell)</td>
                    </tr>
                    <tr>
                        <td>Created By</td>
                        <td>@ViewBag.CreatedName</td>
                    </tr>
                    <tr>
                        <td>Created Date</td>
                        <td>@String.Format("{0:f}", Model.CreatedDate)</td>
                    </tr>
                    <tr>
                        <td>Modified By</td>
                        <td>@ViewBag.ModifiedName</td>
                    </tr>
                    <tr>
                        <td>Last Modified</td>
                        <td>@String.Format("{0:f}", Model.ModifyDate)</td>
                    </tr>
                </tbody>
                
            </table>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class="btn btn-default" })  @Html.ActionLink("Back to List", "Index", null, new { @class= "btn btn-default" })
        </div>
    </div>
</div>

            @*<h2>Details</h2>

            <div>
                <h4>Product</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Category)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Cost)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cost)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Sell)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Sell)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifyDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifyDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifyBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifyBy)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>*@
